.articles {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
  padding: 62px 0;

  &__card {
    flex: 0 1 calc(33% - 16px);

    @media(max-width: 992px) {
      flex: 0 1 calc(50% - 16px);
    }

    @media(max-width: 667px) {
      flex: 0 1 calc(100% - 16px);
    }

    margin: 8px;
  }
}
